@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed&display=swap');

/* To choose color -->   https://flatuicolors.com/palette/defo  */


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #9b59b6;
    font-family: 'Roboto Condensed', sans-serif;
}
#root{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
}
.container{
    text-align: center;
    width: 600px;
    max-width: 100%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.container h1{
    margin-top: 0;
}

.container p{
    margin:2rem;
}

button{
    background-color:#0d0c0d;
    color:#fff;
    border: 0;
    font-size: 16px;
    border-radius:3px;
    padding: 0.5rem 2rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.1s linear;
}

 button:active{
    transform: scale(0.98);
}

button:focus{
    outline:none;
}